{% extends 'gui.html' %}

{% block content %}
<div class="row frontend-list">
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
<form class="form-signin" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Authy Profile</h2>
    {{ form.as_p }}
    
    <p style="padding-top:10px">
    <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-primary btn-block" type="submit"/>
    </p>
</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    {{ block.super }}

{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
